### CUSTOM ###
application-local.yml
.env
tmp/

HELP.md

### Maven / Gradle build outputs ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Java compiled / packages ###
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Maven wrapper (keep jar) ###
.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
